<div class="card ">
  <div class="card-header card-header-rose card-header-text">
    <div class="card-text">
      <h4 class="card-title">Criar Área</h4>
    </div>
  </div>

  <div class="card-body ">
    <%= render 'form', area: @area %>

  </div>
</div>